{% extends 'base.html' %}

{#{% block stylesheet %}#}
{#<link href='http://cdn.repository.webfont.com/webfonts/nomal/142061/35449/5fe5fc17f629d8ed6cb55faa.css' rel='stylesheet' type='text/css' />#}
{#{% endblock %}#}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Boards</li>
{% endblock %}

    {% block content %}
        <table class="table">
            <thead class="thead-inverse">
            <tr class="font_label_title" >
                <th>Board</th>
                <th>Posts</th>
                <th>Topics</th>
                <th>Last Post</th>
            </tr>
            </thead>
            <tbody>
            {% for board in boards %}
                <tr>
                <td>
                    <a class="font_label_title_small" href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
                    <small class="text-muted d-block">{{ board.description }}</small>
                </td>
                <td class="align-middle">0</td>
                <td class="align-middle">0</td>
                <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}