.navbar-brand{
    font-family: 'ChannelSlanted2';
}
.font_label_title{
    font-family:'COCOGOOSE';;
}
.font_label_title_small {
    font-family:'COCOGOOSE';;
    font-size: small;
    color: #6c757d;
}